@use './colors' as *;
@use './fonts' as *;

.line {
  width: 30rem;
  height: 1px;
  background-color: white;
  opacity: 0.2;
  margin: 10px 0;
}

.hint--bottom {
  &:hover {
    &::after {
      font-family: "Metropolis", Verdana, sans-serif;
      font-size: 0.8rem;
      padding: 8px;
      text-shadow: none;
    }
  }
}

.hint--bottom:after {
  border-radius: 4px;
}
